<header>
  <div class="container">
    <div class="header-wrapper">
      <div class="login">
        <a href="#" class="login-link">
          <span class="material-symbols-outlined">
            partner_exchange
          </span>
          Партнерам</a>
        <a href="#" class="login-link">
          <span class="material-symbols-outlined">
            groups
            </span>
          Сотрудникам
        </a>
      </div>
      <div class="logo-header">
        <img class="logo" src="assets/img/logo.png" alt='OOO TM "Белар"'
          title='OOO TM "Белар" - производство гидроцилиндров'>
        <article class="orgname">
          <h2 class="name">Создаем вечное движение уже сегодня!</h2>
          <!-- OOO &laquo;ТМ Белар&raquo; -  -->
        </article>
      </div>
      <span class="material-symbols-outlined menu show" (click)="openClose('open')">
        menu
      </span>
      <span class="material-symbols-outlined close" (click)="openClose('close')">
        close
      </span>
      <nav class="header__navigation">
        <ul id="listMenu">
          <li>
            <a (click)="getRoute()" (click)="removeMenu('close')" routerLinkActive="active" [routerLink]="['']"
              [routerLinkActiveOptions]="{exact:true}" class="caption-layer">Главная</a>
          </li>
          <li>
            <a (click)="getRoute()" (click)="removeMenu('close')" routerLinkActive="active" [routerLink]="['/company']"
              class="caption-layer">О компании</a>
          </li>
          <li>
            <a (click)="getRoute()" (click)="removeMenu('close')" routerLinkActive="active" [routerLink]="['/news']"
              class="caption-layer">Новости</a>
          </li>
          <li>
            <a (click)="removeMenu('close')" class="caption-layer" routerLinkActive="active"
              [routerLink]="['/work']">Работа</a>
            <!-- (click)="scrollTo($event) <a  [href]="currentRoute + '#contacts'" (click)="getRoute()"  class="caption-layer">Контакты</a> -->
          </li>
          <li>
            <a (click)="getRoute()" (click)="removeMenu('close')" routerLinkActive="active" [routerLink]="['/products']"
              class="caption-layer">Продукция</a>
          </li>
          <li>
            <a (click)="getRoute()" (click)="removeMenu('close')" routerLinkActive="active" [routerLink]="['/cert']"
              class="caption-layer">Сертификаты</a>
          </li>
          <!-- <li>
            <a (click)="getRoute()" (click)="removeMenu('close')" routerLinkActive="active" [routerLink]="['/login']"
              class="caption-layer">Личный кабинет</a>
          </li> -->
          <li>
            <a href="#contacts" (click)="removeMenu('close')" routerLinkActive="active" class="caption-layer"
              [routerLink]="['/contacts']">Контакты</a>
            <!-- (click)="scrollTo($event) <a  [href]="currentRoute + '#contacts'" (click)="getRoute()"  class="caption-layer">Контакты</a> -->
          </li>
          <li [matBadge]="bageCount" matBadgePosition="after" matBadgeColor="warn">
            <a (click)="getRoute()" (click)="removeMenu('close')" routerLinkActive="active" [routerLink]="['/cart']"
              class="caption-layer">
              <span class="material-symbols-outlined">
                shopping_cart
                </span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<router-outlet></router-outlet>
