@import 'variables'
@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.4/css/lightgallery.css')
@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.4/css/lg-zoom.css')
// @import url('https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.4/css/lg-rotate.css')
body
  margin: 0

.about
  display: flex
  align-items: center
  flex-direction: column
.about-wrapper
  @extend .container-padding
  height: 100%
  display: grid
  grid-template-areas: "caption" "description" "vid" "gallery"
  gap: 20px
  // flex-direction: column
  .main-caption
    text-align: left
    grid-area: caption
  .description
    gap: 20px
    grid-area: description
    grid-template-areas: "text text ." ". image image"
    display: grid
  .text-description
    grid-area: text
    max-width: 90%
  .description-image
    grid-area: image
    width: 750px
    position: relative
    z-index: 300
    justify-self: flex-end
  .video-wrapper
    width: 100%
    display: flex
    justify-content: space-between
    grid-area: vid
    flex-wrap: wrap
    gap: 20px
    .video
      // max-width: 500px
      max-width: 100%
      height: 200px
      @media screen and ( max-width: 1000px )
        // max-width: 100%
        height: auto

  .image-container
    display: grid
    // grid-template-rows: repeat(2, 1fr)
    grid-template-columns: repeat(4, 1fr)
    gap: 1vw
    grid-area: gallery
    .img-item
      position: relative
      justify-self: center
      transform: scale(1)
      // width: 100%
      &:hover
        // transform: scale(2)
        cursor: -webkit-zoom-in
    @media screen and (max-width: 1400px)
      grid-template-columns: repeat(3, 1fr)
    @media screen and (max-width: 1200px)
      grid-template-columns: repeat(2, 1fr)
    @media screen and (max-width: 600px)
      grid-template-columns: repeat(1, 1fr)
      width: 100%

@media screen and ( max-width: 1461px )
  .about-wrapper
    .description-image
      width: 600px

@media screen and ( max-width: 1170px )
  .about-wrapper .description-image
    width: 500px
@media screen and ( max-width: 1000px )
  .about-wrapper
    .description
      grid-template-areas: "text ""image"
    .description-image
      width: 50%
      justify-self: center
    .text-description
      max-width: 100%
@media screen and ( max-width: 526px )
  .about-wrapper
    gap: 10px
    .description-image
      width: 100%

