@import 'variables'
#contacts-overlay
  height: fit-content
  background: url("^assets/img/footer-backg.jpg")
  background-repeat: no-repeat
  background-size: cover
  background-attachment: fixed
  background-position: center
  position: relative
  margin-top: 40px
  h3, h5
    font-weight: bold
.contacts-overlay
  position: absolute
  width: 100%
  inset: 0
  background: rgb(0 0 0 / 39%)
  z-index: 1
  height: 100%
.contacts-bg
  margin: 0 auto
  color: $background
  position: relative
  z-index: 4
  .contacts-wrapper
    @extend .container-padding
    ul
      margin: 0
      padding: 0
    h3, h5
      text-align: left
      margin-bottom: 0
    address
      margin-bottom: 0
  .countries
    display: flex
    flex-direction: column
.company-card
  column-gap: 10px
  position: relative
.company-name, .company-department-name, summary, .rf-caption, .region-caption
  color: $mainColor
.company-name, .rf-caption
  font-size: 20px
.company-department-name, .region-caption
  font-size: 18px
.rf-caption
  padding-bottom: 15px
a
  color: $background
  text-decoration: none
  display: flex
  gap: 5px
  transition: color 0.5s
  &:hover
    color: $mainColor
    transition: color 0.5s
.app-icons
  display: inline-flex
  gap: 5px
  img
    width: 25px
    height: 25px
.rb
  display: flex
  gap: 50px
  flex-direction: column
  .belar
    .company-card
      flex-grow: 3
      display: grid
      grid-template-areas: "caption caption caption" "address address address" "priem sales constr" "ok sales constr"
      & .company-caption
        grid-area: caption
        margin-bottom: 15px
      & .company-address
        grid-area: address
      & .priem
        grid-area: priem
      & .constr
        grid-area: constr
      & .sales
        grid-area: sales
      & .ok
        grid-area: ok
  .belar-employee
    font-weight: 400
    transition: 0.5s color
    margin-top: 10px
    &:hover a
      transition: 0.5s color
      color: $mainColor
  .techno .company-card
    display: grid
    & .techno-caption
      grid-area: caption
      margin-bottom: 15px
    & .techno-address
      grid-area: address
    & .department-techno
      grid-area: depart
    & .region
      grid-area: region
    grid-template-areas: "caption caption" "address address" "depart region"
ul
  list-style-type: none
  li:has(> .app-icons)
    // background: red
    display: flex
    gap: 5px
.company-caption
  // height: 72px
.company-name
  font-size: 20px
  text-align: center
.company-department-name
  font-size: 18px
li:has(> .company-department-name)
  margin-bottom: 10px
.company-department-item
  margin-top: 20px
.rf
  margin-top: 20px
  position: relative
  &::before
    content: ""
    position: absolute
    width: 100%
    height: 5px
    background: #ca7b0f78
    top: -18px
.rf-companes
  display: grid
  grid-template-columns: repeat(4, 1fr)
  gap: 20px
  .company-name
    height: 72px
  .company-address
    height: 72px
  .company-department-item
    height: 210px
  .rf-regions .company-department-item
    height: 30px
@media screen and ( max-width: 1355px )
  .company-card::before
    content: ""
    position: absolute
    width: 100%
    height: 5px
    background: #ca7b0f78
    top: -5px
  .rf-companes .company-department-item
    height: 270px
  .rf-regions li:first-child
    // height: 72px
@media screen and ( max-width: 1285px )
  .rb
    flex-direction: column
  .rf-companes
    grid-template-columns: repeat(2, 1fr)
    .company-name
      height: 50px
    .company-department-item
      height: 220px
    .rf-regions li:first-child
      // height: 50px
    .company-address
      height: fit-content
    .company-card:nth-child(3), .company-card:nth-child(4)
      .company-department-item
        height: 150px
        // background: red
@media screen and ( max-width: 1770px )
  .rb .belar .company-card
    grid-template-areas: "caption caption" "address address" "priem ok" "sales constr"
@media screen and ( max-width: 850px )
  .rb .belar .company-card
    grid-template-areas: "caption caption" "address address" "priem ok" "sales sales" "constr constr"
  .rf-companes
    grid-template-columns: 1fr
@media screen and ( max-width: 720px )
   .rb .techno .company-card
    //  grid-template-areas: "caption " "address" "depart" "region"
@media screen and ( max-width: 660px )
  .rb .belar .company-card
    grid-template-areas: "caption"  "address" "priem" "ok" "constr" "sales"
@media screen and ( max-width: 560px )
  .rb .techno .company-card
    grid-template-areas: "caption" "address" "depart" "region"

.map
  width: 100%
  display: flex
  iframe
    width: 100%
.footer-map
  position: relative
  z-index: 1000
  box-shadow: 5px -1px 5px rgba(0, 0, 0, 0.15), 0 -2px 5px rgba(0, 0, 0, 0.15)
.footer-politics
  position: relative
  z-index: 1000
  background-color: $bgColor
  padding: 10px 0

