<main class="main">
  <div class="container">
    <!-- <section class="caption" id="caption"> -->
    <div class="caption-wrapper">
      <!-- <article class="orgname">
          <h2 class="name">OOO &laquo;ТМ Белар&raquo; - Создаем вечное движение уже сегодня!</h2>
        </article> -->
      <div class="main-caption-wrapper">
        <h1 class="main-caption">Производство гидроцилиндров</h1>
        <h2 class="sub-caption">
          <strong>Проектирование, разработка конструкторской документации</strong> и полный цикл
          <strong>изготовления
            гидроцилиндров любой
            сложности</strong> от опытных образцов до серийного производства.
        </h2>
        <h2 class="sub-caption">
          <strong>Изготовление гидроцилиндров для комбайнов, тракторов, погрузчиков, лесной, дорожностроительной,
            навесной,
            прицепной и другой техники.</strong>
        </h2>
        <h2 class="sub-caption">
          <strong>Модельный ряд гидроцилиндров от 25 до 140 мм внутреннего диаметра гильзы (диаметр
            поршня).</strong>
        </h2>
        <h2 class="sub-caption">
          По согласованию с клиентом гидроцилиндр комплектуется <strong>гидрозамками, сапунами, демпферами,
            пружинами,
            фланцами
            и другими деталями.</strong>
        </h2>

      </div>
      <div class="gallery">
        <h2 class="main-sub-caption">Применяемость гидроцилиндров</h2>
        <swiper-container id="swipe-container" loop="true" navigation="true" speed="2000" autoplay="true"
          autoplay-delay="2000" autoplay-disable-on-interaction="false" centered-slides="true" pagination="true"
          pagination-clickable="true" effect="cube" grab-cursor="true" cube-effect-shadow="true"
          cube-effect-slide-shadows="false" cube-effect-shadow-offset="40" cube-effect-shadow-scale="1">
          <swiper-slide>
            <img class="gallery-img" src="assets/img/slider/1.gif" title="Применение гидроцилиндров"
              alt="Производство гидроцилиндров">
          </swiper-slide>
          <swiper-slide>
            <img class="gallery-img" src="assets/img/slider/2.gif" title="Применение гидроцилиндров"
              alt="Производство гидроцилиндров">
          </swiper-slide>
          <swiper-slide>
            <img class="gallery-img" src="assets/img/slider/3.gif" title="Применение гидроцилиндров"
              alt="Производство гидроцилиндров">
          </swiper-slide>
          <swiper-slide>
            <img class="gallery-img" src="assets/img/slider/4.gif" title="Применение гидроцилиндров"
              alt="Производство гидроцилиндров">
          </swiper-slide>
          <swiper-slide>
            <img class="gallery-img" src="assets/img/slider/5.gif" title="Применение гидроцилиндров"
              alt="Производство гидроцилиндров">
          </swiper-slide>
          <swiper-slide>
            <img class="gallery-img" src="assets/img/slider/6.gif" title="Применение гидроцилиндров"
              alt="Производство гидроцилиндров">

          </swiper-slide>
        </swiper-container>
      </div>
      <video class="vid" src="./assets/video/cyl.mp4" oncanplay="this.play()" onloadedmetadata="this.muted = true"
        autoplay="true" loop="true" muted playsinline></video>
    </div>

    <div class="catalog">
      <h2 class="main-sub-caption">Каталог продукции</h2>
      <div class="catalog-container">
        <a routerLinkActive="active" [routerLink]="['/products', 'list']" class="caption-layer">
          <img src="assets/img/catalog/hydro.png" alt="Каталог продукции">
          <p>
            Гидроцилиндры
          </p>
        </a>
        <a routerLinkActive="active" [routerLink]="['/products', 'constructor']" class="caption-layer">
          <img src="assets/img/catalog/constr.png" alt="Каталог продукции">
          <p>
            Конструктор
          </p>
        </a>
        <a routerLinkActive="active" [routerLink]="['/products', 'technick']" class="caption-layer">
          <img src="assets/img/catalog/technik.png" alt="Каталог продукции">
          <p>
            По применяемости
          </p>
        </a>
        <a routerLinkActive="active" [routerLink]="['/products', 'oil']" class="caption-layer">
          <img src="assets/img/catalog/vr-privod.png" alt="Каталог продукции">
          <p>
            Вращающийся маслопровод
          </p>
        </a>
        <a routerLinkActive="active" [routerLink]="['/products', 'valve']" class="caption-layer">
          <img src="assets/img/catalog/gidroblock.png" alt="Каталог продукции">
          <p>
            Гидроблоки
          </p>
        </a>
        <a routerLinkActive="active" [routerLink]="['/products', 'spare']" class="caption-layer">
          <img src="assets/img/catalog/spare.png" alt="Каталог продукции">
          <p>
            Запчасти
          </p>
        </a>
      </div>
    </div>
    <div class="container-map">
      <h2 class="main-sub-caption">
        География поставок в РФ
      </h2>
      <div class="map-wrapper">

        <iframe id="iframe" frameborder="no" src="assets/map/map.html" frameborder="0">
        </iframe>
      </div>
    </div>
  </div>
</main>
