@import 'variables'
.cart-wrapper
  @extend .container-padding
  // margin: 0 auto
  display: flex
  gap: 20px
  flex-direction: column
  .totals-container
    display: flex
    justify-content: space-between
    strong
      font-weight: 400
    @media screen and ( max-width: 768px )
      flex-direction: column
      p
        margin-bottom: 5px
  .addOrder
    background: $mainColor
    color: white
    font-weight: 400
    @media screen and ( max-width: 768px )
      width: fit-content

.table-wrapper
  width: 100%
  overflow-x: auto
  padding-bottom: 20px
  display: flex
  flex-direction: column
  gap: 20px

#cart-table
  height: fit-content
th
  font-size: 16px
  font-weight: bold
td
  font-size: 15px
.count-container
  margin-bottom: 0
  display: flex
  align-items: center


.count
  width: 50px
  border: none
  text-align: center
  font-size: 15px
  outline: none
.table-img
  width: 50px
.order-container
  align-self: center
  width: 50%
  @media screen and ( max-width: 768px )
    width: 100%
  h5
    margin: 15px 0
.order
  display: flex
  flex-direction: column
  align-self: center
  width: 100%
  gap: 10px
::ng-deep .mdc-data-table__table
  // min-width: 0 !important
  // width: 70%
#submit:disabled
  color: white !important
  background: gray !important
  cursor: not-allowed !important
#clear
  width: fit-content
  align-self: flex-end
@media screen and ( max-width: 970px )
  .cart-wrapper
    flex-direction: column
    // padding-top: 120px
  ::ng-deep .mdc-data-table__table
    width: 100%
  .order
    // width: 80%
    margin: 0 auto
.mat-column-title
  min-width: 300px !important
