/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap'
@import 'variables'


@keyframes opacity-links
  0%
    opacity: 0
  100%
    opacity: 1
*
  animation-duration: 0.1s
  animation-name: opacity-links
  backface-visibility: hidden
  scrollbar-width: thin
  // will-change: initial
body
  font-family: 'Hydro', sans-serif
  font-family: 'Noto Sans', sans-serif
  font-family: 'Exo 2', sans-serif
  font-family: 'Roboto', sans-serif
  // font-family: 'Montserrat', sans-serif
  color: $bgColor
  background-color: $background
  background-color: white
  overflow-x: hidden
  // position: relative
.main-caption
  font-size: 32px
  font-weight: 500
  color: #40444E
  @media screen and (max-width: 1460px)
    font-size: 35px
  @media screen and (max-width: 1460px)
    font-size: 30px
  @media screen and (max-width: 1160px)
    font-size: 20px
  @media screen and ( max-width: 526px )
      margin-bottom: 0
      margin-top: 20px
.main-sub-caption
  text-align: right
  align-self: center
  margin-bottom: 20px

.sub-caption
  margin-top: 13px
  font-size: 24px
  font-weight: 300
  color: #40444E
  @media screen and ( max-width: 1460px )
    font-size: 20px
  @media screen and (max-width: 1460px)
    font-size: 18px
    margin-top: 10px
  @media screen and (max-width: 1160px)
    font-size: 15px
  strong
    font-weight: 300
.background
  position: absolute
  height: 120%
  width: 100vw
  z-index: -1
  background: white
  overflow-x: hidden
  .bg
    position: fixed
    inset: 0
    background: rgb(242 242 242 / 23%)
  img
    position: absolute
    width: 30vw
    z-index: -2
    filter: blur(1px)
    transform: rotate3d(-404, -169, -119, 60deg)
    &.img-1
      left: 30px
      top: 55%
    &.img-2
      right: 50px
      top: 15%
    &.img-3
      right: -130px
      bottom: -190px
    &.img-4
      right: 110px
      bottom: 330px
    &.img-5
      left: 29%
      bottom: 173px
    &.img-6
      left: -400px
      bottom: -240px

.simple-input, .simple-input input
  // width: 35px
  position: absolute
  font-size: 12px
  height: 18px
  font-style: italic
  text-align: center
  font-weight: bold
  vertical-align: middle
  border: 1px solid #00000029
  width: 70px
  // max-width: 240px
  z-index: 300
  will-change: scale, transform

  &:focus
    outline: none
.simple-label
  position: absolute
  font-size: 13px
  font-weight: bold
  display: flex
  gap: 2px
  z-index: 300
  will-change: scale, transform
  input
    will-change: scale, transform
    font-size: 12px
    height: 18px
    font-style: italic
    text-align: center
    font-weight: bold
    vertical-align: middle

    border: 1px solid #00000029

button:not([type="reset"])
  background: $mainColor !important
  color: black !important

@media screen and ( max-width: 1700px )
  .background
    img.img-1
      // left: -200px
      // bottom: -260px
    img.img-2
      // right: -50px
      // bottom: 140px
@media screen and ( max-width: 1460px )
  .background
    img.img-1
      // left: -200px
      // bottom: -90px
    img.img-2
      // right: -100px
      // bottom: 300px
@media screen and ( max-width: 1460px )
  .background
    // img.img-1
    //   left: -240px
    //   bottom: -90px
    // img.img-2
    //   right: -240px
    //   bottom: 300px
@media screen and ( max-width: 1200px )
  .background
    // img.img-1
    //   left: -280px
    //   bottom: -90px
    // img.img-2
    //   right: -280px
    //   bottom: 300px
@media screen and ( max-width: 1000px )
  .background
    img.img-1
      // left: -400px
      // bottom: -90px
      display: none
    img.img-2
      // right: -400px
      // bottom: 300px
      display: none
