@import 'variables'
footer
  background: $gradientBg
  .footer-politics
    width: $contentWidth
    margin: 0 auto
    padding: 10px 0
  .logo
    width: 100px
  .to-main
    display: flex
    padding: 7px
    background: #000
    width: fit-content
    border-radius: 6px
    &:hover
      background: #000000a8
:host
    position: fixed
    left: 0
    bottom: 0
    right: 0
    z-index: 9999
